# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/Frankfurt RS-232.X/build
/Frankfurt RS-232.X/debug
/Frankfurt RS-232.X/html/ECAN.c.html
/Frankfurt RS-232.X/html/ECAN.c_first_stage.html
/Frankfurt RS-232.X/html/ECAN.cpp.html
/Frankfurt RS-232.X/html/ECAN.p1.html
/Frankfurt RS-232.X/html/ECAN.parser.html
/Frankfurt RS-232.X/html/ECAN.pre.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.as.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.assem.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.cgen.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.hex.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.link.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.lst.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.map.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.debug.obj.dmp.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.as.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.assem.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.cgen.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.hex.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.link.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.lst.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.map.html
/Frankfurt RS-232.X/html/Frankfurt_RS-232.X.production.obj.dmp.html
/Frankfurt RS-232.X/html/assem_stage.html
/Frankfurt RS-232.X/html/crc8.c.html
/Frankfurt RS-232.X/html/crc8.c_first_stage.html
/Frankfurt RS-232.X/html/crc8.cpp.html
/Frankfurt RS-232.X/html/crc8.p1.html
/Frankfurt RS-232.X/html/crc8.parser.html
/Frankfurt RS-232.X/html/crc8.pre.html
/Frankfurt RS-232.X/html/doprnt.c.html
/Frankfurt RS-232.X/html/doprnt.cpp.html
/Frankfurt RS-232.X/html/doprnt.p1.html
/Frankfurt RS-232.X/html/doprnt.parser.html
/Frankfurt RS-232.X/html/doprnt.pre.html
/Frankfurt RS-232.X/html/eeprom.c.html
/Frankfurt RS-232.X/html/eeprom.c_first_stage.html
/Frankfurt RS-232.X/html/eeprom.cpp.html
/Frankfurt RS-232.X/html/eeprom.p1.html
/Frankfurt RS-232.X/html/eeprom.parser.html
/Frankfurt RS-232.X/html/eeprom.pre.html
/Frankfurt RS-232.X/html/fifo.c.html
/Frankfurt RS-232.X/html/fifo.c_first_stage.html
/Frankfurt RS-232.X/html/fifo.cpp.html
/Frankfurt RS-232.X/html/fifo.p1.html
/Frankfurt RS-232.X/html/fifo.parser.html
/Frankfurt RS-232.X/html/fifo.pre.html
/Frankfurt RS-232.X/html/first_stage_c.html
/Frankfurt RS-232.X/html/hexutils.c.html
/Frankfurt RS-232.X/html/hexutils.c_first_stage.html
/Frankfurt RS-232.X/html/hexutils.cpp.html
/Frankfurt RS-232.X/html/hexutils.p1.html
/Frankfurt RS-232.X/html/hexutils.parser.html
/Frankfurt RS-232.X/html/hexutils.pre.html
/Frankfurt RS-232.X/html/index.html
/Frankfurt RS-232.X/html/link.html
/Frankfurt RS-232.X/html/main.c.html
/Frankfurt RS-232.X/html/main.c_first_stage.html
/Frankfurt RS-232.X/html/main.cpp.html
/Frankfurt RS-232.X/html/main.p1.html
/Frankfurt RS-232.X/html/main.parser.html
/Frankfurt RS-232.X/html/main.pre.html
/Frankfurt RS-232.X/html/main_ECAN.cpp.html
/Frankfurt RS-232.X/html/main_ECAN.parser.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.debug.assem.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.debug.cgen.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.debug.link.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.production.assem.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.production.cgen.html
/Frankfurt RS-232.X/html/main_Frankfurt_RS-232.X.production.link.html
/Frankfurt RS-232.X/html/main_crc8.cpp.html
/Frankfurt RS-232.X/html/main_crc8.parser.html
/Frankfurt RS-232.X/html/main_doprnt.cpp.html
/Frankfurt RS-232.X/html/main_doprnt.parser.html
/Frankfurt RS-232.X/html/main_eeprom.cpp.html
/Frankfurt RS-232.X/html/main_eeprom.parser.html
/Frankfurt RS-232.X/html/main_fifo.cpp.html
/Frankfurt RS-232.X/html/main_fifo.parser.html
/Frankfurt RS-232.X/html/main_hexutils.cpp.html
/Frankfurt RS-232.X/html/main_hexutils.parser.html
/Frankfurt RS-232.X/html/main_main.cpp.html
/Frankfurt RS-232.X/html/main_main.parser.html
/Frankfurt RS-232.X/html/main_s1qg.assem.html
/Frankfurt RS-232.X/html/main_s1qg.cgen.html
/Frankfurt RS-232.X/html/main_s2jc.assem.html
/Frankfurt RS-232.X/html/main_s2jc.cgen.html
/Frankfurt RS-232.X/html/main_s384.assem.html
/Frankfurt RS-232.X/html/main_s384.cgen.html
/Frankfurt RS-232.X/html/main_s56s.assem.html
/Frankfurt RS-232.X/html/main_s56s.cgen.html
/Frankfurt RS-232.X/html/main_s5dc.assem.html
/Frankfurt RS-232.X/html/main_s5dc.cgen.html
/Frankfurt RS-232.X/html/main_s5hg.assem.html
/Frankfurt RS-232.X/html/main_s5hg.cgen.html
/Frankfurt RS-232.X/html/main_s5u8.assem.html
/Frankfurt RS-232.X/html/main_s5u8.cgen.html
/Frankfurt RS-232.X/html/main_s64c.assem.html
/Frankfurt RS-232.X/html/main_s64c.cgen.html
/Frankfurt RS-232.X/html/main_s664.assem.html
/Frankfurt RS-232.X/html/main_s664.cgen.html
/Frankfurt RS-232.X/html/main_s69c.assem.html
/Frankfurt RS-232.X/html/main_s69c.cgen.html
/Frankfurt RS-232.X/html/main_s6d8.assem.html
/Frankfurt RS-232.X/html/main_s6d8.cgen.html
/Frankfurt RS-232.X/html/main_s6f0.assem.html
/Frankfurt RS-232.X/html/main_s6f0.cgen.html
/Frankfurt RS-232.X/html/main_s6jk.assem.html
/Frankfurt RS-232.X/html/main_s6jk.cgen.html
/Frankfurt RS-232.X/html/main_s6k4.assem.html
/Frankfurt RS-232.X/html/main_s6k4.cgen.html
/Frankfurt RS-232.X/html/main_s6l4.assem.html
/Frankfurt RS-232.X/html/main_s6l4.cgen.html
/Frankfurt RS-232.X/html/main_s6tg.assem.html
/Frankfurt RS-232.X/html/main_s6tg.cgen.html
/Frankfurt RS-232.X/html/main_s6uk.assem.html
/Frankfurt RS-232.X/html/main_s6uk.cgen.html
/Frankfurt RS-232.X/html/main_s718.assem.html
/Frankfurt RS-232.X/html/main_s718.cgen.html
/Frankfurt RS-232.X/html/main_s74o.assem.html
/Frankfurt RS-232.X/html/main_s74o.cgen.html
/Frankfurt RS-232.X/html/main_s7d8.assem.html
/Frankfurt RS-232.X/html/main_s7d8.cgen.html
/Frankfurt RS-232.X/html/main_s7f0.assem.html
/Frankfurt RS-232.X/html/main_s7f0.cgen.html
/Frankfurt RS-232.X/html/main_s7ks.assem.html
/Frankfurt RS-232.X/html/main_s7ks.cgen.html
/Frankfurt RS-232.X/html/main_s7n8.assem.html
/Frankfurt RS-232.X/html/main_s7n8.cgen.html
/Frankfurt RS-232.X/html/main_s7o8.assem.html
/Frankfurt RS-232.X/html/main_s7o8.cgen.html
/Frankfurt RS-232.X/html/main_s7ok.assem.html
/Frankfurt RS-232.X/html/main_s7ok.cgen.html
/Frankfurt RS-232.X/html/main_s7qo.assem.html
/Frankfurt RS-232.X/html/main_s7qo.cgen.html
/Frankfurt RS-232.X/html/main_s7sk.assem.html
/Frankfurt RS-232.X/html/main_s7sk.cgen.html
/Frankfurt RS-232.X/html/s1qg.as.html
/Frankfurt RS-232.X/html/s1qg.assem.html
/Frankfurt RS-232.X/html/s1qg.cgen.html
/Frankfurt RS-232.X/html/s1qg.obj.dmp.html
/Frankfurt RS-232.X/html/s2jc.as.html
/Frankfurt RS-232.X/html/s2jc.assem.html
/Frankfurt RS-232.X/html/s2jc.cgen.html
/Frankfurt RS-232.X/html/s2jc.obj.dmp.html
/Frankfurt RS-232.X/html/s384.as.html
/Frankfurt RS-232.X/html/s384.assem.html
/Frankfurt RS-232.X/html/s384.cgen.html
/Frankfurt RS-232.X/html/s384.obj.dmp.html
/Frankfurt RS-232.X/html/s56s.as.html
/Frankfurt RS-232.X/html/s56s.assem.html
/Frankfurt RS-232.X/html/s56s.cgen.html
/Frankfurt RS-232.X/html/s56s.obj.dmp.html
/Frankfurt RS-232.X/html/s5dc.as.html
/Frankfurt RS-232.X/html/s5dc.assem.html
/Frankfurt RS-232.X/html/s5dc.cgen.html
/Frankfurt RS-232.X/html/s5dc.obj.dmp.html
/Frankfurt RS-232.X/html/s5hg.as.html
/Frankfurt RS-232.X/html/s5hg.assem.html
/Frankfurt RS-232.X/html/s5hg.cgen.html
/Frankfurt RS-232.X/html/s5hg.obj.dmp.html
/Frankfurt RS-232.X/html/s5u8.as.html
/Frankfurt RS-232.X/html/s5u8.assem.html
/Frankfurt RS-232.X/html/s5u8.cgen.html
/Frankfurt RS-232.X/html/s5u8.obj.dmp.html
/Frankfurt RS-232.X/html/s64c.as.html
/Frankfurt RS-232.X/html/s64c.assem.html
/Frankfurt RS-232.X/html/s64c.cgen.html
/Frankfurt RS-232.X/html/s64c.obj.dmp.html
/Frankfurt RS-232.X/html/s664.as.html
/Frankfurt RS-232.X/html/s664.assem.html
/Frankfurt RS-232.X/html/s664.cgen.html
/Frankfurt RS-232.X/html/s664.obj.dmp.html
/Frankfurt RS-232.X/html/s69c.as.html
/Frankfurt RS-232.X/html/s69c.assem.html
/Frankfurt RS-232.X/html/s69c.cgen.html
/Frankfurt RS-232.X/html/s69c.obj.dmp.html
/Frankfurt RS-232.X/html/s6d8.as.html
/Frankfurt RS-232.X/html/s6d8.assem.html
/Frankfurt RS-232.X/html/s6d8.cgen.html
/Frankfurt RS-232.X/html/s6d8.obj.dmp.html
/Frankfurt RS-232.X/html/s6f0.as.html
/Frankfurt RS-232.X/html/s6f0.assem.html
/Frankfurt RS-232.X/html/s6f0.cgen.html
/Frankfurt RS-232.X/html/s6f0.obj.dmp.html
/Frankfurt RS-232.X/html/s6jk.as.html
/Frankfurt RS-232.X/html/s6jk.assem.html
/Frankfurt RS-232.X/html/s6jk.cgen.html
/Frankfurt RS-232.X/html/s6jk.obj.dmp.html
/Frankfurt RS-232.X/html/s6k4.as.html
/Frankfurt RS-232.X/html/s6k4.assem.html
/Frankfurt RS-232.X/html/s6k4.cgen.html
/Frankfurt RS-232.X/html/s6k4.obj.dmp.html
/Frankfurt RS-232.X/html/s6l4.as.html
/Frankfurt RS-232.X/html/s6l4.assem.html
/Frankfurt RS-232.X/html/s6l4.cgen.html
/Frankfurt RS-232.X/html/s6l4.obj.dmp.html
/Frankfurt RS-232.X/html/s6tg.as.html
/Frankfurt RS-232.X/html/s6tg.assem.html
/Frankfurt RS-232.X/html/s6tg.cgen.html
/Frankfurt RS-232.X/html/s6tg.obj.dmp.html
/Frankfurt RS-232.X/html/s6uk.as.html
/Frankfurt RS-232.X/html/s6uk.assem.html
/Frankfurt RS-232.X/html/s6uk.cgen.html
/Frankfurt RS-232.X/html/s6uk.obj.dmp.html
/Frankfurt RS-232.X/html/s718.as.html
/Frankfurt RS-232.X/html/s718.assem.html
/Frankfurt RS-232.X/html/s718.cgen.html
/Frankfurt RS-232.X/html/s718.obj.dmp.html
/Frankfurt RS-232.X/html/s74o.as.html
/Frankfurt RS-232.X/html/s74o.assem.html
/Frankfurt RS-232.X/html/s74o.cgen.html
/Frankfurt RS-232.X/html/s74o.obj.dmp.html
/Frankfurt RS-232.X/html/s7d8.as.html
/Frankfurt RS-232.X/html/s7d8.assem.html
/Frankfurt RS-232.X/html/s7d8.cgen.html
/Frankfurt RS-232.X/html/s7d8.obj.dmp.html
/Frankfurt RS-232.X/html/s7f0.as.html
/Frankfurt RS-232.X/html/s7f0.assem.html
/Frankfurt RS-232.X/html/s7f0.cgen.html
/Frankfurt RS-232.X/html/s7f0.obj.dmp.html
/Frankfurt RS-232.X/html/s7ks.as.html
/Frankfurt RS-232.X/html/s7ks.assem.html
/Frankfurt RS-232.X/html/s7ks.cgen.html
/Frankfurt RS-232.X/html/s7ks.obj.dmp.html
/Frankfurt RS-232.X/html/s7n8.as.html
/Frankfurt RS-232.X/html/s7n8.assem.html
/Frankfurt RS-232.X/html/s7n8.cgen.html
/Frankfurt RS-232.X/html/s7n8.obj.dmp.html
/Frankfurt RS-232.X/html/s7o8.as.html
/Frankfurt RS-232.X/html/s7o8.assem.html
/Frankfurt RS-232.X/html/s7o8.cgen.html
/Frankfurt RS-232.X/html/s7o8.obj.dmp.html
/Frankfurt RS-232.X/html/s7ok.as.html
/Frankfurt RS-232.X/html/s7ok.assem.html
/Frankfurt RS-232.X/html/s7ok.cgen.html
/Frankfurt RS-232.X/html/s7ok.obj.dmp.html
/Frankfurt RS-232.X/html/s7qo.as.html
/Frankfurt RS-232.X/html/s7qo.assem.html
/Frankfurt RS-232.X/html/s7qo.cgen.html
/Frankfurt RS-232.X/html/s7qo.obj.dmp.html
/Frankfurt RS-232.X/html/s7sk.as.html
/Frankfurt RS-232.X/html/s7sk.assem.html
/Frankfurt RS-232.X/html/s7sk.cgen.html
/Frankfurt RS-232.X/html/s7sk.obj.dmp.html
/Frankfurt RS-232.X/html/second_stage_c.html
/Frankfurt RS-232.X/html/toc_ECAN.cpp.html
/Frankfurt RS-232.X/html/toc_ECAN.parser.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.debug.assem.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.debug.cgen.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.debug.link.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.production.assem.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.production.cgen.html
/Frankfurt RS-232.X/html/toc_Frankfurt_RS-232.X.production.link.html
/Frankfurt RS-232.X/html/toc_crc8.cpp.html
/Frankfurt RS-232.X/html/toc_crc8.parser.html
/Frankfurt RS-232.X/html/toc_doprnt.cpp.html
/Frankfurt RS-232.X/html/toc_doprnt.parser.html
/Frankfurt RS-232.X/html/toc_eeprom.cpp.html
/Frankfurt RS-232.X/html/toc_eeprom.parser.html
/Frankfurt RS-232.X/html/toc_fifo.cpp.html
/Frankfurt RS-232.X/html/toc_fifo.parser.html
/Frankfurt RS-232.X/html/toc_hexutils.cpp.html
/Frankfurt RS-232.X/html/toc_hexutils.parser.html
/Frankfurt RS-232.X/html/toc_main.cpp.html
/Frankfurt RS-232.X/html/toc_main.parser.html
/Frankfurt RS-232.X/html/toc_s1qg.assem.html
/Frankfurt RS-232.X/html/toc_s1qg.cgen.html
/Frankfurt RS-232.X/html/toc_s2jc.assem.html
/Frankfurt RS-232.X/html/toc_s2jc.cgen.html
/Frankfurt RS-232.X/html/toc_s384.assem.html
/Frankfurt RS-232.X/html/toc_s384.cgen.html
/Frankfurt RS-232.X/html/toc_s56s.assem.html
/Frankfurt RS-232.X/html/toc_s56s.cgen.html
/Frankfurt RS-232.X/html/toc_s5dc.assem.html
/Frankfurt RS-232.X/html/toc_s5dc.cgen.html
/Frankfurt RS-232.X/html/toc_s5hg.assem.html
/Frankfurt RS-232.X/html/toc_s5hg.cgen.html
/Frankfurt RS-232.X/html/toc_s5u8.assem.html
/Frankfurt RS-232.X/html/toc_s5u8.cgen.html
/Frankfurt RS-232.X/html/toc_s64c.assem.html
/Frankfurt RS-232.X/html/toc_s64c.cgen.html
/Frankfurt RS-232.X/html/toc_s664.assem.html
/Frankfurt RS-232.X/html/toc_s664.cgen.html
/Frankfurt RS-232.X/html/toc_s69c.assem.html
/Frankfurt RS-232.X/html/toc_s69c.cgen.html
/Frankfurt RS-232.X/html/toc_s6d8.assem.html
/Frankfurt RS-232.X/html/toc_s6d8.cgen.html
/Frankfurt RS-232.X/html/toc_s6f0.assem.html
/Frankfurt RS-232.X/html/toc_s6f0.cgen.html
/Frankfurt RS-232.X/html/toc_s6jk.assem.html
/Frankfurt RS-232.X/html/toc_s6jk.cgen.html
/Frankfurt RS-232.X/html/toc_s6k4.assem.html
/Frankfurt RS-232.X/html/toc_s6k4.cgen.html
/Frankfurt RS-232.X/html/toc_s6l4.assem.html
/Frankfurt RS-232.X/html/toc_s6l4.cgen.html
/Frankfurt RS-232.X/html/toc_s6tg.assem.html
/Frankfurt RS-232.X/html/toc_s6tg.cgen.html
/Frankfurt RS-232.X/html/toc_s6uk.assem.html
/Frankfurt RS-232.X/html/toc_s6uk.cgen.html
/Frankfurt RS-232.X/html/toc_s718.assem.html
/Frankfurt RS-232.X/html/toc_s718.cgen.html
/Frankfurt RS-232.X/html/toc_s74o.assem.html
/Frankfurt RS-232.X/html/toc_s74o.cgen.html
/Frankfurt RS-232.X/html/toc_s7d8.assem.html
/Frankfurt RS-232.X/html/toc_s7d8.cgen.html
/Frankfurt RS-232.X/html/toc_s7f0.assem.html
/Frankfurt RS-232.X/html/toc_s7f0.cgen.html
/Frankfurt RS-232.X/html/toc_s7ks.assem.html
/Frankfurt RS-232.X/html/toc_s7ks.cgen.html
/Frankfurt RS-232.X/html/toc_s7n8.assem.html
/Frankfurt RS-232.X/html/toc_s7n8.cgen.html
/Frankfurt RS-232.X/html/toc_s7o8.assem.html
/Frankfurt RS-232.X/html/toc_s7o8.cgen.html
/Frankfurt RS-232.X/html/toc_s7ok.assem.html
/Frankfurt RS-232.X/html/toc_s7ok.cgen.html
/Frankfurt RS-232.X/html/toc_s7qo.assem.html
/Frankfurt RS-232.X/html/toc_s7qo.cgen.html
/Frankfurt RS-232.X/html/toc_s7sk.assem.html
/Frankfurt RS-232.X/html/toc_s7sk.cgen.html
/Frankfurt RS-232.X/html/*.html
/eagle/smd/*.b#2
/eagle/smd/*.b#3
/eagle/smd/*.b#4
/eagle/smd/*.b#5
/eagle/smd/*.b#6
/eagle/smd/*.b#7
/eagle/smd/*.b#8
/eagle/smd/*.b#9
/eagle/smd/*.s#1
/eagle/smd/*.s#2
/eagle/smd/*.s#3
/eagle/smd/*.s#4
/eagle/smd/*.s#5
/eagle/smd/*.s#6
/eagle/smd/*.s#7
/eagle/smd/*.s#8
/eagle/smd/*.s#9
/manual/*.lyx~
/eagle/smd/*.b#1
/eagle/old/CA330A~1.brd
/eagle/old/CAN4VS~3.pro
*.d
*.err
*.lst
/PIC18 Bootloader/PIC18 Bootloader.X/dist/pic18f26K80/production/PIC18 Bootloader.X.production.map
/PIC18 Bootloader/PIC18 Bootloader.X/dist/pic18f26K80/production/PIC18_Bootloader.X.production.cof
/PIC18 Bootloader/PIC18 Bootloader.X/nbproject/Makefile-local-pic18f26K80.mk
/PIC18 Bootloader/PIC18 Bootloader.X/nbproject/Makefile-pic18f26K80.mk
/PIC18 Bootloader/PIC18 Bootloader.X/nbproject/Package-pic18f26K80.bash
/Frankfurt RS-232.X/dist/relocated/debug/*.cmf
/Frankfurt RS-232.X/dist/relocated/debug/*.hxl
/Frankfurt RS-232.X/dist/relocated/debug/*.map
/Frankfurt RS-232.X/dist/relocated/debug/*.mum
/Frankfurt RS-232.X/dist/relocated/debug/*.dmp
/Frankfurt RS-232.X/dist/relocated/debug/*.rlf
/Frankfurt RS-232.X/dist/relocated/debug/*.sdb
/Frankfurt RS-232.X/dist/relocated/debug/*.sym
/Frankfurt RS-232.X/dist/relocated/debug/*.p1
/Frankfurt RS-232.X/dist/relocated/debug/*.pre
/Frankfurt RS-232.X/dist/debug/production/*.cmf
/Frankfurt RS-232.X/dist/debug/production/*.hxl
/Frankfurt RS-232.X/dist/debug/production/*.map
/Frankfurt RS-232.X/dist/debug/production/*.mum
/Frankfurt RS-232.X/dist/debug/production/*.dmp
/Frankfurt RS-232.X/dist/debug/production/*.rlf
/Frankfurt RS-232.X/dist/debug/production/*.sdb
/Frankfurt RS-232.X/dist/debug/production/*.sym
/Frankfurt RS-232.X/dist/debug/production/*.p1
/Frankfurt RS-232.X/dist/debug/production/*.pre
/Frankfurt RS-232.X/dist/debug/debug/*.cmf
/Frankfurt RS-232.X/dist/debug/debug/*.hxl
/Frankfurt RS-232.X/dist/debug/debug/*.map
/Frankfurt RS-232.X/dist/debug/debug/*.mum
/Frankfurt RS-232.X/dist/debug/debug/*.dmp
/Frankfurt RS-232.X/dist/debug/debug/*.rlf
/Frankfurt RS-232.X/dist/debug/debug/*.sdb
/Frankfurt RS-232.X/dist/debug/debug/*.sym
/Frankfurt RS-232.X/dist/debug/debug/*.p1
/Frankfurt RS-232.X/dist/debug/debug/*.pre
